{% extends 'base.html' %}
    
{% block content %}
  <div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Vista rapida</h3>
            <p class="text-subtitle text-muted">Visualiza tus registros en forma de tarjetas.</p>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for item in cards %}
      <div class="col">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">{{ item.nombre }}</h5>
            <p class="card-text">{{ item.descripcion }}</p>
          </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}