{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-6 col-sm-12"></div>
            <div class="card card-body">
                <h2 class="page-title text-center">Bienvenid@</h2>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div id="area"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div id="radialGradient"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="line"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}